
<div class="page-margin container">
  <div class="article-item">
    <h1><%= @article.title %></h1>
    <p>
      <%= link_to edit_article_path do %>
      <i class="fas fa-edit"></i>
      <% end %>

      <%= link_to article_path(@article), method: :delete, data: {confirm: "Are you sure?"} do %>
      <i class="far fa-trash-alt"></i>
      <% end %>
    </p>
    <p><%= @article.content %></p>
  </div>
</div>
